/* Ini File CSS */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-size: cover;
}

nav {
    display: flex;
}

.left-rounded {
    border-radius: 9px 0 0 9px;
}

.right-rounded {
    border-radius: 0 9px 9px 0;
}

nav>a {
    border: 1px solid black;
    padding: 8px;
    color: black;
    text-decoration: none;
}

nav>a:hover {
    background-color: black;
    color: white;
}

.banner-image {
    height: 450px;
    background-image: url(https://picsum.photos/1000);
    background-size: cover;
    background-position: center;
}

.content {
    /* Opsinal */
    height: 500px;
}

footer {
    text-align: center;
}